[user]
    name = Ryota Shimizu
    email = your.email@example.com

[alias]
    st = status
    cm = commit

    # Quick commit with "Initial commit" message
    ci = commit -m 'Initial commit'

    # Commit with a custom message and emoji for adding a new feature
    feat = commit -m ':sparkles: Add new feature'

    # Commit with a custom message and emoji for fixing a bug
    fix = commit -m ':bug: Fix bug'

    # Commit with a custom message and emoji for documentation updates
    doc = commit -m ':memo: Update documentation'

    # Commit with a custom message and emoji for code refactoring
    ref = commit -m ':recycle: Refactor code'

    # Commit with a custom message and emoji for removing code or files
    rm = commit -m ':fire: Remove code or files'
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/ryotashimizu/.gitignore_global
[commit]
	template = /Users/ryotashimizu/.stCommitMsg
